{% extends "layout/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('configurateur') }}
{% endblock %}

{% block title %}Configurateur GE{% endblock %}


{% block body %}

    {% if permission_refused is defined %}
        <div class="alert alert-danger" role="alert">
            Vous n'avez pas la permission d'accéder à cette page.
        </div>
    {% else %}
        <div class="container-fluid main configurateur">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>


    {% endif  %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('configurateur') }}
{% endblock %}
