@media screen and (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}

.navbar-brand a:hover {
    text-decoration: none;
    color: #c7bf95;
}
footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}