.grid-striped .row:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.grid-striped .row:first-child {
    background-color: rgba(0,0,0,.6);
    color: #FFF;
}

.col-md-12 {
    font-size: 0.8vw;
    margin-top: 1.5em;
    border-right: 3px #6f5f59 solid;
}
.has-regle {
    cursor: pointer;
}
.selected-regle {
    background-color: rgba(0,0,0,.35)!important;
}

.modal-dialog {
    max-width: 1200px!important;
}
.check {
    text-align: center;
}
.no-border {
    border-left: 1px solid white !important;
    border-bottom: 1px solid white !important;
    background-color: #FFF!important;
}
.no-border:first-child {
    border-right: 1px solid white !important;
}
.line-radio-button {

}

th.col-1, thead tr th  {
    text-align: center;
}
.no-selected {
    overflow: hidden;
    max-height: 0;
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s ease;
    will-change: transform;
    background-color: #6f5f59!important;
}

.is-selected {
    max-height: 50px;
    overflow: hidden;
    transition: all 0.5s ease;
    will-change: transform;
}
.question-reponse {
    margin-bottom: 2em;
    background-color: #80808038;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    border-radius: 5px;
}
.question-reponse h5 {
    margin-bottom: 0.8em;
}
.question-reponse p {
    display: inline-block;
    width: 96%;
    margin-left: 0.8em;
    background-color: white;
    padding: 0.4em;
    border-radius: 3px;
}
.question-reponse svg {
    vertical-align: top;
}
h3, h4 {
    text-align: center;
    margin-top: 1em!important;
}
.index th{
    text-align: center;
}
form {
    margin-bottom: 1.5em;
}
input[id*="regle"] {
    visibility: hidden;
    height: 0;
}

/* For Google Chrome - Solve the problem of displaying tables */
.my-table {
    table-layout: fixed;
    word-wrap: break-word;
}