.container {
    max-width: 1500px!important;
}

tbody > tr > td {
    vertical-align: middle!important;
}
tbody > tr > td:last-child {
    cursor: pointer;
}

thead > tr > th:first-child {
    min-width: 100px;
}