<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Patek Philippe{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-brand" ><a href="{{ path('home') }}">Patek Philippe</a></div>
</nav>
{% block body %}
{% endblock %}
</body>

{% block footer %}
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Patek Philippe - Projet de création du référentiel : Rémi Fongaufier & Andréa Sester</span>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</html>
